* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e6e6e6;
}

.coin-search {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-input {
    height: 40px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(122, 120, 120);
    outline: none;
}
